/* Custom Properties */
:root {
    /* fonts */
    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'Karla', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    /* Vaporwave Theme */
    --clr-light: #fc78b7;
    --clr-dark: #49437b;
    --clr-accent: #756CC5;
    --clr-text: #74f6e8;

    /* Dark Theme WIP 
    --drk-light: #d9d80c;
    --drk-dark: #01021d;
    --drk-accent: #080752;
    --drk-text: #085459; */

    /* font sizes */
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* * { border: 1px solid red; } */

html, body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: var(--ff-primary);
    text-align: center;
    width: 100%;
    height: 100%;
}


p {
    display: inline;
    font-size: var(--fs-body);
    font-family: var(--ff-secondary);
    color: var(--clr-text);
}


h1 {
    color: var(--clr-text);
    margin: 0px;
    font-weight: var( --fw-bold);
    font-size: var(--fs-h1);
}

.content {
    max-width: 500px;
    margin: auto;
}


.banner {
    display: block;
    text-align: center;
    line-height: 1.1;
    background-color: var(--clr-accent);
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
}

.square {
    background: var(--clr-dark);
    padding: 45%;
    margin: 2% 2% 2% 2%;
    border-width: thin;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    transition: all 0.2s ease-in-out;
    outline: none;

}

.square:active {
    box-shadow: 0 1px black;
    transform: translateY(1px);
}

.lit {
    background: var(--clr-light);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.mark {
    background: #f02253;
}


.gameboard {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding-top: 2%;
    margin: 10px 10px 10px 10px;
    justify-content: space-evenly;
    align-items: center;

}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background: var(--clr-dark);
    max-width: 25%;
    border: .5px solid grey;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}


.reset {
    outline: none;
    margin-top: 15px;
    margin-bottom: 25px;
    background: var(--clr-accent);
    padding: 20px 50px;
    color: var(--clr-text);
    text-align: center;
    line-height: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.solve {
    outline: none;
    margin-top: 0;
    margin-bottom: 15px;
    background: var(--clr-accent);
    padding: 20px 30px;
    color: var(--clr-text);
    text-align: center;
    line-height: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.reset:active {
    box-shadow: 0 2px black;
    transform: translateY(2px);
}
